﻿@{
    ViewData["Title"] = "Home Page";
}
@model DataModel

<div class="container">
    <div class="card">
        <div class="card-header">
            Manage Services
            <form asp-controller="Home" asp-action="UpdateSiteList" method="post" class="d-inline-flex float-right">
                <button type="submit" class="btn btn-primary">Update Site List</button>
            </form>
        </div>
        <div class="card-body">
            <form data-ajax-url="/Home/UploadZip"
                  id="formUpload"
                  role="form"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-success="onSuccess"
                  data-ajax-failure="onFailure"
                  method="post"
                  enctype="multipart/form-data"
                  class="row d-flex mb-2">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            Select Site
                        </div>
                        <div class="col-md-9">
                            <select asp-for="SiteName"
                                    class="form-control"
                                    multiple="multiple">
                                @foreach (var item in ViewBag.ListOfSites)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                            <span asp-validation-for="SiteName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Upload Zip file
                        </div>
                        <div class="col-md-9">
                            <input type="file" class="form-control" asp-for="File" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9">
                            <div class="form-check">
                                <label class="form-check-label" for="IsReplace">
                                    <input type="checkbox" class="form-check-input" asp-for="IsReplace"> Want to Replace all files?
                                </label>
                                <br />
                                <span class="alert-danger">Note: After select this, all files from website folder will be delete and then files from zip will be place.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9">
                            <div class="form-check">
                                <label class="form-check-label" for="IsReplace">
                                    <input type="checkbox" class="form-check-input" asp-for="IsReplaceIgnoreFiles"> Want to Replace ignore files?
                                </label>
                                <br />
                                <span class="alert-danger">Note: After select this, ignore files will also deleted and replaced</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9">
                            <div class="form-check">
                                <label class="form-check-label" for="IsIgnoreRootFolder">
                                    <input type="checkbox" class="form-check-input" asp-for="IsIgnoreRootFolder">  Want to skip extra folder created of zip?
                                </label>
                                <br />
                                <span class="alert-danger">Note: After select this, Service will skip extra folder create at time of upload.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9">
                            <button type="submit" name="upload" class="btn btn-success">Upload</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            Logs
            <button class="btn btn-outline-info float-right" onclick="refreshLogs()">Refresh</button>
        </div>
        <div class="card-body" id="logslist">
            @foreach (var log in Model.Logs)
            {
                <p>@log</p>
            }
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            Error Logs
            <button class="btn btn-outline-info float-right" onclick="refreshErrorLogs()">Refresh</button>
        </div>
        <div class="card-body" id="errorlogslist">
            @foreach (var log in Model.ErrorLogs)
            {
                <p>@log</p>
            }
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        jQuery('#SiteName').lwMultiSelect();
        onSuccess = function (response) {
            if (!response.success) {
                toastr.error(response.returnMsg);
            }
            else {
                toastr.success(response.returnMsg);
                $("#formUpload").trigger("reset");
                $('#SiteName').data('plugin_lwMultiSelect').removeAll();
            }
        };
        onFailure = function (xhr) {
            if (xhr.responseJSON && xhr.responseJSON.returnMsg) {
                toastr.error(xhr.responseJSON.returnMsg);
            }
        };
        var refreshLogs = function () {
            $.ajax({
                url: "/home/getloglist",
                cache: false,
                crossDomain: true,
                success: function (html, status, xhr) {
                    if (html) {
                        var loglist = "";
                        html.forEach(function (item) {
                            loglist += "<p>" + item + "</p>";
                        });
                        $("#logslist").html(loglist);
                    }
                    else {
                        toastr.error("Something went wrong");
                    }
                },
                error: function (e) {
                    toastr.error("Something went wrong");
                }
            });
        }

        var refreshErrorLogs = function () {
            $.ajax({
                url: "/home/geterrorlogs",
                cache: false,
                crossDomain: true,
                success: function (html, status, xhr) {
                    if (html) {
                        var loglist = "";
                        html.forEach(function (item) {
                            loglist += "<p>" + item + "</p>";
                        });
                        $("#errorlogslist").html(loglist);
                    }
                    else {

                    }
                },
                error: function (e) {
                    toastr.error("Something went wrong");
                }
            });
        }
    </script>
}
