﻿@{
    ViewData["Title"] = "Login Page";
}
@model LoginModel

<div class="container">
    <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "row" }))
            {
                <div class="col-md-6">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @if (@ViewBag.Message != null)
                    {
                        <div style="border: 1px solid red">
                            @ViewBag.Message
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(a => a.UserName)
                        @Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Password)
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Password)
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

            }
        </div>
    </div>
</div>
